# Add any directories, files, or patterns you don't want to be tracked by version control
# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Logs
logs
*.log

# Optional npm cache directory
.npm

.vscode/*
!.vscode/settings.json
node_modules/
lib/

/.env
*.env

